alembic==1.4.2
cassandra-driver==3.23.0
click==7.1.1
cluster==1.4.1.post2
falcon==2.0.0
geomet==0.1.2
gunicorn==20.0.4
Mako==1.1.2
MarkupSafe==1.1.1
psycopg2==2.8.5
python-dateutil==2.8.1
python-editor==1.0.4
six==1.14.0
SQLAlchemy==1.3.16
